
Chapter 5/CSharpExample/.vs/CSharpExample/DesignTimeBuild/.dtbcache.v2
Chapter 5/CSharpExample/.vs/CSharpExample/v17/.futdcache.v1
Chapter 5/CSharpExample/.vs/CSharpExample/v17/.suo
Chapter 5/CSharpExample/CSharpExample/bin/Debug/net6.0/CSharpExample.deps.json
Chapter 5/CSharpExample/CSharpExample/bin/Debug/net6.0/CSharpExample.dll
Chapter 5/CSharpExample/CSharpExample/bin/Debug/net6.0/CSharpExample.exe
Chapter 5/CSharpExample/CSharpExample/bin/Debug/net6.0/CSharpExample.pdb
Chapter 5/CSharpExample/CSharpExample/bin/Debug/net6.0/CSharpExample.runtimeconfig.json
Chapter 5/CSharpExample/CSharpExample/bin/Debug/net6.0/ref/CSharpExample.dll
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/apphost.exe
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.AssemblyInfo.cs
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.AssemblyInfoInputs.cache
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.assets.cache
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.csproj.CoreCompileInputs.cache
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.csproj.FileListAbsolute.txt
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.dll
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.GeneratedMSBuildEditorConfig.editorconfig
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.genruntimeconfig.cache
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.GlobalUsings.g.cs
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/CSharpExample.pdb
Chapter 5/CSharpExample/CSharpExample/obj/Debug/net6.0/ref/CSharpExample.dll
Chapter 5/CSharpExample/CSharpExample/obj/project.assets.json
Chapter 5/CSharpExample/CSharpExample/obj/project.nuget.cache
